.App {
    padding: 30px;
    display: flex;
    background-color: rgb(236, 247, 249);
    height: 100vh;
  }
  
  .App > div {
    margin-right: 50px;
  }
  
  .todolist {
    border: 2px solid gray;
    background-color: rgb(247, 244, 199);
    border-radius: 5px;
    padding: 15px;
    height: max-content;
  }